.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  z-index: 999;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__container_type_form {
  width: 496px;
  min-height: 304px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  padding: 28px 28px 36px;
}

.modal__title {
  padding: 26px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 24px;
  padding-left: 16px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.modal__close-btn img {
  width: 20px;
  height: 20px;
  display: block;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  box-sizing: border-box;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  margin-top: 4px;
  padding: 0 0 4px;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.modal__radio-btn {
  width: 16px;
  height: 16px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  accent-color: #000;

  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit-btn {
  height: 36px;
  border: none;
  border-radius: 4px;
  background: #000;
  color: #fff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px 0;
  padding: 8px 16px;
}

.modal__submit-btn:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.modal__submit-btn:disabled {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.modal__fieldset {
  border: 0;
  padding: 0;
  margin: 24px 0 0;
}

.modal__fieldset > div {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 12px;
}

.modal__fieldset .modal__label {
  display: block;
  margin: 8px;
  padding: 0;
}

.modal__fieldset legend {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 8px;
}

.modal__label {
  display: flex;
  color: rgba(0, 0, 0, 1);
  flex-direction: column;
  padding: 0px 18px 6px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.modal__actions {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 20px;
}

.modal__switch-btn {
  border: none;
  background: transparent;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
