.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  position: relative;
  width: 498px;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.modal__image {
  display: block;
  width: 100%;
  height: 498px;
  object-fit: cover;

  margin: 0;
  padding: 0;
  max-width: none; /* fixes “img stays small” */
}

.modal__footer {
  background: #fff;
  padding: 20px;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.modal__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.modal__title {
  margin: 0;
}

.modal__title {
  display: block;
}

.modal__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
