.weather-card {
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.weather-card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weather-card__temp {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 16px;
  font-size: 36px;
  line-height: 1.1;
  color: #fff;
}
