.weather-card {
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.weather-card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weather-card__sun {
  position: absolute;
  width: 60px;
  height: 60px;

  top: -18px;
  right: -6px;

  z-index: 1;
}

.weather-card__cloud {
  position: absolute;
  width: 167px;
  height: 98px;

  top: 0px;
  right: -5px;

  z-index: 2;
}

.weather-card__temp {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 16px;
  font-size: 36px;
  line-height: 1.1;
  color: #fff;
}
