.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  z-index: 999;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__container_type_form {
  position: relative;
  width: 100%;
  max-width: 496px;
  padding: 28px 28px 36px;

  background: #fff;
  border-radius: 16px;
}

.modal__title {
  margin: 0 0 18px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.modal__close-btn img {
  width: 20px;
  height: 20px;
  display: block;
}

/* Form layout */
.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 29px;
  margin-top: 8px;

  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  border-radius: 0;
  outline: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.modal__radio-btn {
  width: 16px;
  height: 16px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  accent-color: #000;

  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit-btn {
  width: 124px;
  height: 36px;
  padding: 8px;
  margin-top: 28px;

  border: none;
  border-radius: 4px;

  background: rgba(0, 0, 0, 1);
  color: #fff;

  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  cursor: not-allowed;
}

.modal__submit-btn:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.modal__submit-btn:disabled {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.modal__fieldset {
  border: 0;
  padding: 0;
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
}

.modal__fieldset > div {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.modal__fieldset legend {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 8px;
}

.modal__label {
  display: flex;
  color: rgba(0, 0, 0, 1);
  flex-direction: column;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
